@tailwind base;
@tailwind components;
@tailwind utilities;

/* small global tweaks */
html, body, #root {
  height: 100%;
}
body {
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
